# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=product_checkout

# Payment Gateway (Sandbox UAT)
PAYMENT_PUBLIC_KEY=pub_stagtest_g2u0HQd32Mh05hs5gTS2IUv8t3s4mOt7
PAYMENT_PRIVATE_KEY=prv_stagtest_5i0ZCiCiFcDQifYsXxvspv7Y37tKqFWg
PAYMENT_EVENTS_SECRET=stagtest_events_2PDUmnMyWUkVb1LvXYnayFbmor17W39N
PAYMENT_INTEGRITY_SECRET=stagtest_integrity_nAlBuqayW70XpUqIS4qf4STYiSd89Fp
PAYMENT_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1